<center>
  <% if current_user %>
  <h1>All Bookmarks</h1>
  <% else %>
  <div class="jumbotron">
    <h1>Blocmarks</h1>
    <p>Link URLs and create your own bookmarks.</p>
    <%= link_to "Sign Up", new_user_registration_path, class:'btn btn-primary btn-large' %> Or
    <%= link_to "Sign In", new_user_session_path, class:'btn btn-primary btn-large' %>
  </div>
</center>
<% end %>
